# CryptoFlow Environment Variables
# Copy this file to .env and fill in your values

# CoinGecko API (Free Tier)
# No API key required for free tier, but rate limits apply

# NewsAPI (Free Tier)
# Get an API key at https://newsapi.org/
NEWS_API_KEY=35d70ead732f40269eafb9688c76a548

# PostgreSQL Credentials
POSTGRES_USER=cryptoflow
POSTGRES_PASSWORD=cryptoflow_secure_password
POSTGRES_DB=cryptoflow

# Airflow Variables
AIRFLOW_UID=50000

# Kafka Config
KAFKA_BROKER=kafka:9092
