# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Airflow
airflow/logs/
airflow/airflow.db

# Data and Models
data/raw/
data/processed/
data/features/
ml/models/

# macOS
.DS_Store
